services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend/outputs/:/app/outputs
    networks:
      - tni-network

  frontend:
    container_name: nextjs-frontend
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "3005:3000"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - tni-network


  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - tni-network

volumes:
  postgres_data:


networks:
  tni-network:
    driver: bridge